body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* main-content styles */

.main-content {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px ;
}

/* about styles */
.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* projects */

.projects {
        /* внешние отступы */
    /* margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 90px; */
    /* margin: 100px 90px 300px 60px; */
    /* margin: 50px; со всех сторон*/
    /* margin: 100px 50px; верх-низ лево-право */
    margin-bottom: 50px;
}

.titel {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-li,
.project-link
 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link{
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* .work styles */

.work {
        /* внутренние отступы */
    /* padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 20px; */
    margin-bottom: 45px ;
}

/* education styles */

.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}

.work-list{
    padding: 0px;
    padding-left: 17px;
}

.work-list-item {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
}

.education {

}
.education-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.my-educ-work{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
/* sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contacts {
    margin-left: 40px;
    margin-bottom: 50px;
}

.tech-skils {
    margin-left: 40px;
    margin-bottom: 45px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact-link {
    ont-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}

.tech-skils-list {
    color: #FFFFFF;
    padding: 0px;
    padding-left: 17px;
}

.soft-skills {
    margin-left: 40px;
}

.soft-skills-list {
    color: #FFFFFF;
    padding: 0px;
    padding-left: 17px;
}

.tech-skils-text,
.soft-skils-text {
    color: #FFFFFF;
}

.soft-skills-item,
.tech-skils-item {
    color: #FB6D3A;
}
